/* font-family: 'Montserrat', sans-serif;

font-family: 'Ubuntu', sans-serif; */

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

/* Title Section*/

h2 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #ffffff;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Headings */

h1 h2 h3 h4 h5 h6 {
  font-family: "Montserrat", sans-serif;
}

.big-heading {
  color: #fff;
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.5;
  padding: 5% 0 5% 0;
  text-align: left;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Title Image */

.hero-image {
  padding-top: 5%;
  position: absolute;
  transform: rotate(25deg);
  right: 30%;
  width: 60%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-item {
  padding: 0 20px;
}

/* Buttons */

.download-button {
  margin: 3% 3% 5% 0;
}

/* features */

.features {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.features p {
  color: #8f8f8f;
}

.feature-icon-color {
  color: #ef8172;
}

i:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
  color: #fff;
  padding: 5%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing Section*/

#pricing {
  padding: 75px 100px;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.dog-card {
  padding: 3% 2%;
}

.card-body h2 {
  font-size: 2rem;
}

/* Call To Action */

#cta {
  background-color: #ff4c68;
  margin: auto 0;
  padding: 3% 3%;
}

#cta h3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.download-button-cta {
  margin: 3% 1% 5% 0;
}

/* Footer */

#footer {
  background-color: #fff;
  padding: 5% 5%;
}

.social-media-logos {
  padding: 0 1% 1% 1%;
}

/* Media Queries */
/* At this point and BELOW */
@media (max-width: 1028px) {
  .title {
    text-align: center;
  }

  .hero-image {
    position: static;
    transform: rotate(0);
  }
}

@media (max-width: 414px) {
  /* Primary */

  .container-fluid {
    padding: 2% 3% 4% 3%;
  }

  /* Title and heading */

  .big-heading {
    font-size: 2.5rem;
    text-align: center;
  }

  .hero-image {
    width: 80%;
  }

  #title .container-fluid {
    padding: 0% 3% 4% 3%;
  }

  /* Testimonial Section */

  .testimonial-text {
    font-size: 1.75rem;
  }

  /* Press Section */

  .press-logo {
    width: 35%;
  }

  /* Pricing Section */

  .section-heading {
    font-size: 1.85rem;
  }

  .section-paragraph {
    font-size: 1rem;
  }

  /* Call to Action */

  #cta h3 {
    font-size: 2rem;
  }

  .social-media-logos {
    width: 2rem;
  }
}
